{% extends 'source/base.html' %}

{% block content %}
<section>
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-5">
             <div class="full slider_cont_section">
                <h4>My Spot</h4>
                <h4>Parking </h4>
                <p>
                    <div class="button_section">
                        <a href="{% url 'book' %}">Book Spot</a>
                    </div>
                </p>
                <div class="button_section">
                   <a href="{% url 'checkout' %}">Checkout Spot</a>
                </div>
             </div>
          </div>
          <div class="col-md-7">
             <div class="col-lg-8">
                <div class="card mb-4">
                   <div class="card-header">
                       <i class="fas fa-table mr-1"></i>
                   </div>
                   <div class="card-body">
                       <div class="table-responsive">
                           <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                               <thead>
                                   <tr>
                                       <th>Parking Zone</th>
                                       <th>Location</th>
                                       <th>Vacant Slots</th>
                                       <th>Price</th>
                                   </tr>
                               </thead>
                               <tfoot>
                                   <tr>
                                     <th>Parking Zone</th>
                                     <th>Location</th>
                                     <th>Vacant Slots</th>
                                     <th>Price</th>
                                      
                                   </tr>
                               </tfoot>
                               <tbody>
                                   {% for parking_zone in all_parking_zones %}
                                   <tr>
                                       <td>{{parking_zone.name}}</td>
                                       <td>{{parking_zone.address}}</td>
                                       <td>{{parking_zone.vacant_slots}}</td>
                                       <td>{{parking_zone.price}}</td>
                                       <!-- <td>
                                           <a href="{% url 'parkingzone-detail' slug=parking_zone.slug %}">
                                              <button class="btn btn-primary">Details</button>
                                           </a>
                                       </td> -->
                                       
                                   </tr>
                                   {% endfor %}
                                 
      
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
             </div>
          </div>
       </div>
    </div>
 </section>

{% endblock %}