{% load static %}

<header>
    <!-- header inner -->
    <div class="container">
       <div class="row">
          <div class="col-lg-3 logo_section">
             <div class="full">
                <div class="center-desk">
                <!-- <div class="logo"> <a href="/"><img src="{% static 'source/images/logo.png' %}" alt="#"></a> </div>-->
                </div>
             </div>
          </div>
          <div class="col-lg-9">
             <div class="right_header_info">
                <ul>
                   <li><img style="margin-right: 15px;" src="{% static 'source/images/phone_icon.png' %}" alt="#" /><a href="#">987-654-3210</a></li>
                   <li><img style="margin-right: 15px;" src="{% static 'source/images/mail_icon.png' %}" alt="#" /><a href="#">demo@gmail.com</a></li>
                   <li><img src="{% static 'source/images/search_icon.png' %}" alt="#" /></li>
                   <li>
                      <button type="button" id="sidebarCollapse">
                         <img src="{% static 'source/images/menu_icon.png' %}" alt="#" />
                      </button>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <!-- end header inner -->
</header>

